
html {
    width: 100%;
}
*, *::before, *::after {
    box-sizing: inherit; 
  }
@font-face {
    font-family: 'Rowdies';
    src: url('../fonts/Rowdies-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  
body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D3D3D3;
    font-family: 'Rowdies';
    
}

main {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    background-color: #0A0A0A;
    width: 100%;
    box-sizing: border-box;
}
header {
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 2px solid #343434; 
    box-sizing: border-box;

}


header a {
    text-decoration: none;
    color: #D3D3D3;
    font-size: 15px;
    font-weight: 500;
}

nav a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-sizing: border-box;

}

.sphere {
    color: #58A458;
}

#menu-bar {     
    display: none;    
    align-self: center;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

#login-menu-box {
    display: flex;
}

#logo {
    color: #D3D3D3;
    font-weight: 900;
    font-size: 30px;
    padding-top: 0;
    margin: 0;
    line-height: 0;
}

nav .login {
    display: none;
    color: black;
    background-color: #58A458;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-weight: 900;
}

#login-menu-box .login {
    display: block;
    color: black;
    background-color: #58A458;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-weight: 900;
}

#intro {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 100px);
    width: 100%;
    color: #D3D3D3;
    background-color: #0A0A0A;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
    box-sizing: border-box;
    align-items: center;
}

#explore-intro, #about-intro, #contact-intro, #faq-intro, #rentals-intro {
    display: flex;
    color: #D3D3D3;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
    width: 100%;
}

#content-box {
    min-height: 100%;
    width: 40%;
    color: #D3D3D3;
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: start;
    justify-content: space-between;
    box-sizing: border-box;

}

#content-box p {
    font-size: 30px;
    margin: 0px;

}

#content-image-box {
    display: none;
}

#premier {
    color: #58A458
}

#quality {
    font-weight: 900;
}

#image-box {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#image-box img, #content-image-box img{
    width: 100%;
    height: auto;
}


.active {
    color: black;
    background-color: #D3D3D3
}

/* AUTH PAGES CSS */


@media only screen and (max-width: 992px) {

    #menu-bar {
        display: block;
    }

    nav {
        display: none;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 10px;
        min-height: 100vh;
        width: 70vw;
        background-color: black;
        position: absolute;
        left: 0;
        top: 0;
        flex-direction: column;
        z-index: 10000;
    }

    nav a {
        margin-bottom: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
       
    }

    nav .login {
        display: block;
        margin-top: 50px;
    }

    #login-menu-box .login {
        display: none;
    }

    #logo {
        font-size: 30px;
        line-height: 0;
    }

    header {
        padding-left: 20px;
        padding-right: 20px;
    }

    #intro {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
    }

    #content-box {
        width: 100%;

    }

    #image-box {
        display: none;
    }

    #menu-bar img {
        height: 18px;
        width: 18px;
    }

    #content-box p {
        font-size: 20px;
        margin: 0px;
        padding: 0px;
    
    }
    
    #sell-explore-box {
        margin-top: 30px;
    }


    #content-image-box {
        display: block;
        width: 100%;
    }

    /* AUTH PAGES MEDIA QUERY */
    
    
}